* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #596275;
}

.Button_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  height: 200px;
}
.button {
  position: relative;
  display: block;
  width: 150px;
  height: 60px;
  margin: 10px 10px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 4px solid black;
  font-size: 15px;
  text-transform: uppercase;
  color: aliceblue;
}
#button1 {
  border: 4px solid #f7d794;
  color: #f7d794;
}

#button2 {
  border: 4px solid #63cdda;
  color: #63cdda;
}

#button3 {
  border: 4px solid #e15f41;
  color: #e15f41;
}

#button4 {
  border: 4px solid #574b90;
  color: #574b90;
}
.button::before,
.button::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #596275;
  transform: skewX(50deg);
  transition: 0.3s linear;
}
.button::before {
  left: 10%;
  top: -4px;
}
.button::after {
  right: 10%;
  bottom: -4px;
}
.button:hover::before {
  left: 65%;
}
.button:hover::after {
  right: 65%;
}
